@page "/"
<MCard>
    <div class="d-flex align-items-center">
        <MCardTitle>
            <h1>
                23℃
            </h1>
        </MCardTitle>
        <MAvatar Size="100" Tile>
            <MIcon XLarge>mdi-weather-cloudy</MIcon>
        </MAvatar>
    </div>
</MCard>

