@page "/Settings"

<div class="text-h6 settings-tile">数据</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">数据</MSubheader>
        <MListItem>
            <MListItemContent>
                更换天气源
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>

</MCard>
<div class="text-h6 settings-tile">显示</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">显示</MSubheader>
        <MListItem>
            <MListItemContent>
                深色模式
            </MListItemContent>
            <MListItemAction>
                <MSwitch></MSwitch>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem>
            <MListItemContent>
                切换语言
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem>
            <MListItemContent>
                首页内容管理
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>
</MCard>
<div class="text-h6 settings-tile">关于</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">关于</MSubheader>
        <MListItem>
            <MListItemContent>
                应用信息
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem OnClick="()=>ViewSourceCode()">
            <MListItemContent>
                查看源代码
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem>
            <MListItemContent>
                第三方版权
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem>
            <MListItemContent>
                日志
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

    </MList>
</MCard>
<MCard Class="settings-exit">
    <MListItem OnClick="()=>ExitApp()">
        <MListItemContent>
            退出
        </MListItemContent>
    </MListItem>
</MCard>
