<MCard>
    <div class="d-flex align-items-center">
        <MCardTitle>
            <h1>
                @(Temp)℃
            </h1>
        </MCardTitle>
        <MAvatar Size="100" Tile>
            <MIcon XLarge>mdi-weather-cloudy</MIcon>
        </MAvatar>
    </div>
    <div>

    </div>
</MCard>

