<div class="mt-5"></div>
<div class="text-h6 d-none d-sm-block font-weight-bold mx-2 mb-2">位置</div>
<MCard Class="mb-5">
    <MList>
        <MSubheader Class="d-sm-none">位置</MSubheader>
        <MListItem>
            <MListItemContent>
                当前位置@(LocationService.SelectedLocation != null ? "" : "（请检查定位权限是否授权）")
            </MListItemContent>
            <MListItemAction>
                <MSwitch Value="@(LocationService.SelectedLocation != null)"
                         Color="@(IsDark() ? "white":"black")"
                         Disabled>
                </MSwitch>
            </MListItemAction>
        </MListItem>

        @*<MDivider Class="mx-3 mx-sm-0"></MDivider>*@

    </MList>

</MCard>
<div class="text-h6 d-none d-sm-block font-weight-bold mx-2 mb-2">添加</div>
<MCard>
    <MList>
        <MListItem>
            <MListItemContent>
                添加城市
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-plus</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>
</MCard>

<MButton Class="@($"mb-10 {(IsDark()?"white black--text":"black white--text")}")"
         Absolute
         Bottom
         Right
         Fab>
    <MIcon>
        mdi-plus
    </MIcon>
</MButton>