@page "/Settings"
@using YourWeather.Model.Enum

<div class="text-h6 settings-tile">数据</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">数据</MSubheader>
        <MListItem>
            <MListItemContent>
                更换天气源
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>

</MCard>
<div class="text-h6 settings-tile">显示</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">显示</MSubheader>
        <MListItem>
            <MListItemContent>
                深色模式
            </MListItemContent>
            <MListItemAction>
                <MSwitch></MSwitch>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem>
            <MListItemContent>
                切换语言
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem>
            <MListItemContent>
                首页内容管理
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>
</MCard>
<div class="text-h6 settings-tile">关于</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">关于</MSubheader>
        <MListItem OnClick="()=>_dialogAppInformation = true">
            <MListItemContent>
                应用信息
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem OnClick="()=>ViewSourceCode()">
            <MListItemContent>
                查看源代码
            </MListItemContent>
            <MListItemAction>
                @if (ProjectService!.Project != Project.MAUIBlazor)
                {
                    <div style="max-width:150px;" @onclick:stopPropagation="true">
                        <MSelect Items="CodeSourceItems"
                             @bind-Value="@_selectCodeSourceItemValue"
                             ItemText="u => u.Text"
                             ItemValue="u => u.Value"
                             Color="black"
                             Dense
                             HideDetails="@("auto")"
                             Outlined>
                            <PrependInnerContent>
                                @if (_selectCodeSourceItemValue == githubUrl)
                                {
                                    <MIcon Color="black">mdi-github</MIcon>
                                }
                                else if (_selectCodeSourceItemValue == giteeUrl)
                                {
                                    <img style="width:24px;height:24px;" src="_content/YourWeather.Razor/image/gitee.png" />
                                }
                            </PrependInnerContent>
                        </MSelect>
                    </div>
                }
                else
                {
                    <MIcon>mdi-chevron-right</MIcon>
                }
            </MListItemAction>

        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem>
            <MListItemContent>
                第三方版权
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem>
            <MListItemContent>
                日志
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

    </MList>
</MCard>
@if (ProjectService!.Project == Project.MAUIBlazor)
{
    <MCard>
        <MListItem OnClick="()=>_dialogExit = true">
            <MListItemContent>
                退出
            </MListItemContent>
        </MListItem>
    </MCard>
    <MDialog @bind-Value="_dialogExit" MaxWidth="420">
        <MCard>
            <MCardTitle Class="subtitle-1 justify-center">
                确认退出应用吗？
            </MCardTitle>
            <MCardActions>
                <MButton Class="flex-grow-1"
                     Text
                     OnClick="()=>_dialogExit = false">
                    取消
                </MButton>
                <MButton Class="flex-grow-1"
                     Text
                     Color="error"
                     OnClick="()=>ExitApp()">
                    确认
                </MButton>
            </MCardActions>
        </MCard>
    </MDialog>
}
<MDialog MaxWidth="420"
         @bind-Value="_dialogAppInformation">
    <MCard>
        <MCardTitle>应用信息</MCardTitle>
        <MDivider></MDivider>
        <MCardText>
            <MSimpleTable>
                <tbody>
                    <tr>
                        <td>应用</td>
                        <td>你的天气</td>
                    </tr>
                    <tr>
                        <td>作者</td>
                        <td>Yu-Core</td>
                    </tr>
                    <tr>
                        <td>版本</td>
                        <td>@AppVersion</td>
                    </tr>
                </tbody>
            </MSimpleTable>
        </MCardText>
    </MCard>
</MDialog>
