.settings-tile{
    display:none;
    font-weight:700;
    padding: 0px 8px 8px;
}

::deep + .settings-card{
    margin-bottom:20px;
}

@media screen and (min-width:600px){
    .settings-tile {
        display: block;
    }
}