.weather-baseInfo {
    display: flex;
    height: 130px;
    flex-grow: 1;
    align-items: center;
}

.weather-temp {
    font-size: 5rem;
    line-height: 5rem;
}

.weather-lives-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .weather-lives-item ::deep > * {
        width: 48%;
        margin-bottom: 20px;
    }

.swiper-forecast-hours .swiper-slide {
    width: auto; /*根据内容调整宽度*/
}

.custom-loader {
    animation: loader 1s infinite;
    display: flex;
}

@("@-moz-keyframes") loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@("@-webkit-keyframes") loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@("@-o-keyframes") loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@("@keyframes") loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width:960px) and (max-width:1264px) {
    .weather-lives-item ::deep > * {
        width: 32%;
    }

        .weather-lives-item ::deep > *:last-child:nth-child(3n + 5) {
            margin-right: 34%;
        }
}

@media screen and (min-width:1264px){
    .weather-lives-item ::deep > * {
        width: 23%;
    }

        .weather-lives-item ::deep > *:last-child:nth-child(4n + 6) {
            margin-right: calc(46% + 8% / 3 * 2);
        }

        .weather-lives-item ::deep > *:last-child:nth-child(4n + 7) {
            margin-right: calc(23% + 8% / 3 );
        }
}