@page "/counter"
@inherits PageComponentBase



<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<MButton Color="primary" OnClick="IncrementCount">Click me</MButton>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Title = "位置";
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
