/* _content/YourWeather.Rcl/Pages/WeatherPage.razor.rz.scp.css */
.weather-lives-item[b-xewacm1ot6] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .weather-lives-item[b-xewacm1ot6]  > * {
        width: 48%;
        margin-bottom: 20px;
    }

@media screen and (min-width:960px) and (max-width:1264px) {
    .weather-lives-item[b-xewacm1ot6]  > * {
        width: 32%;
    }

        .weather-lives-item[b-xewacm1ot6]  > *:last-child:nth-child(3n + 5) {
            margin-right: 34%;
        }
}

@media screen and (min-width:1264px) {
    .weather-lives-item[b-xewacm1ot6]  > * {
        width: 23%;
    }

        .weather-lives-item[b-xewacm1ot6]  > *:last-child:nth-child(4n + 6) {
            margin-right: calc(46% + 8% / 3 * 2);
        }

        .weather-lives-item[b-xewacm1ot6]  > *:last-child:nth-child(4n + 7) {
            margin-right: calc(23% + 8% / 3 );
        }
}
