@inherits LayoutComponentBase
@using YourWeather.Razor.Pages

<MApp Dark="IsDark">
    <div class="d-flex" style="height:100%;">
        <MNavigationDrawer Class="d-none d-sm-block"
                           Permanent>
            <MList Rounded>
                <MListItemGroup @bind-Value="SelectItem">
                    @foreach (var navigationButton in NavigationButtons)
                    {
                        <MListItem OnClick="()=>ChangeView(navigationButton.Id)">
                            <MListItemIcon>
                                <MIcon>@GetIcon(navigationButton)</MIcon>
                            </MListItemIcon>
                            <MListItemTitle>@navigationButton.Title</MListItemTitle>
                        </MListItem>
                    }
                </MListItemGroup>
            </MList>
        </MNavigationDrawer>
        <MMain Class="grey lighten-5">
            <MContainer>
                <div class="swiper" style="width:100%;height:100%;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <PageWeather></PageWeather>
                        </div>
                        <div class="swiper-slide">
                            <PageLocation></PageLocation>
                        </div>
                        <div class="swiper-slide">
                            <PageSettings></PageSettings>
                        </div>
                    </div>
                </div>
            </MContainer>
        </MMain>
    </div>

    <MBottomNavigation Class="d-flex justify-space-around d-sm-none "
                       @bind-Value="SelectItem"
                       App
                       Shift>
        @foreach (var navigationButton in NavigationButtons)
        {
            <MButton OnClick="()=>ChangeView(navigationButton.Id)">
                <span>@navigationButton.Title</span>
                <MIcon>@GetIcon(navigationButton)</MIcon>
            </MButton>
        }

    </MBottomNavigation>
</MApp>
