
<MDialog Value="Value"
         ValueChanged="ValueChanged"
         Fullscreen
         Transition="dialog-right-transition">
    <MCard Class="@(IsDark() ?"":"grey lighten-4")" Style="padding-top:64px !important;">
        <MToolbar Class="@($"elevation-2 {(IsDark() ?"":"grey lighten-4")}")"
                  Style="position:fixed;width:100%;"
                  Absolute>
            <MButton Icon
                     OnClick="HandleOnCancel">
                <MIcon>mdi-arrow-left</MIcon>
            </MButton>
            <MToolbarTitle>搜索城市</MToolbarTitle>
            <MSpacer></MSpacer>
        </MToolbar>
        <MContainer>
            <div class="mt-5"></div>
            <MTextField TValue="string"
                        Value="_search"
                        ValueChanged="SearchTextChanged"
                        Placeholder="请输入省、市、区、县搜索"
                        Filled
                        PrependInnerIcon="mdi-magnify"
                        Rounded>
            </MTextField>
            <div class="text-h6 d-none d-sm-block font-weight-bold px-2 pb-2">热门城市</div>
            <MCard Class="rounded-lg">
                <MList>
                    <MSubheader Class="d-sm-none">热门城市</MSubheader>
                    @foreach (var item in LocationDatas)
                    {
                        <MListItem OnClick="()=>AddLocationData(item)">
                            <MListItemContent>
                                @($"{item.Name}（{item.Info}）")
                            </MListItemContent>
                        </MListItem>
                        if (item != LocationDatas.LastOrDefault())
                        {
                            <MDivider Class="mx-3 mx-sm-0"></MDivider>
                        }
                    }
                    @if (LocationDatas.Count == 0)
                    {
                        <MListItem>
                            <MListItemContent>
                                未找到你想要的结果
                            </MListItemContent>
                        </MListItem>
                    }
                </MList>
            </MCard>
        </MContainer>
    </MCard>
</MDialog>